@import "../../vars.css";

.container{
    display: flex;
    flex-direction: column;
    border-radius: 10%;
    background: linear-gradient(180deg, #576CBC -14.75%, #132A53 50.1%);
    padding:18px 24px;
    box-shadow: 0px 4px 4px 0px #00000040;
    max-width: 345px;
}
.image{
    margin-bottom: 26px;
    border-radius: 8%;
}
.title{
    font-size: 25px;
    font-weight: 700;
}
.description{
    margin-top: 6px;
    font-size: 25px;
    font-weight: 400;
}
.skills{
    width: 100%;
    display: flex;
    flex-direction: row;
    list-style: none;
    flex-wrap:wrap;
    gap: 6px;
    margin-top: 14px;
    justify-content: center;
}
.skill{
    font-size: 25px;
    font-weight: 400;

    border-radius: 100px;
    background: var(--color-dark);
    padding: 2px 22px;
}
.links{
    width: 100%;
    margin-top: 26px; 
    display: flex;
    flex-direction: row;
    list-style: none;
   
    
    justify-content: space-around;
}
.link{
    border-radius: 100px;
    background: var(--color-primary);
    padding: 1px 22px;
    color:var(--color-text);
    font-size: 30px;
    font-weight: 600;

    text-decoration: none;
}